<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction
   [origin]="origin"
   [destination]="destination"
   [renderOptions]="renderOptions"
   [markerOptions]="markerOptions"
   [travelMode]="travelMode"
   >
   <agm-marker [latitude]="lati" [longitude]="langi"></agm-marker>
  </agm-direction>
</agm-map>
<script>
function addNum(){
  var text = document.getElementById("txt");
  var num = text.text;
}
</script>
<input type="text" id="txt">
<input type="button" onclick="addNum()">
<input type="button" (click)="onRefresh(num)" value="Refresh">
